{{ define "main" }}
<!-- Banner -->
{{ with .Params.banner }}
<section class="pt-4">
  <div class="container">
    <div class="row justify-center">
      <div class="col-12 mb-8">
        {{ partial "image" (dict "Src" .image "Alt" "Arthur Gorries logo" "Loading" "eager" "Class" "mx-auto w-full !max-w-[180px] sm:!max-w-[300px]" "DisplayXL" "800x" ) }}
      </div>
      <div class="lg:col-7 md:col-9 text-center">
        <h1 class="funky-font mb-4 text-gray-200 text-h3 lg:text-h1">
          {{ .title | markdownify }}
        </h1>
        <div class="mb-8 space-y-6 text-gray-300">
          {{ .content | markdownify }}
        </div>
        {{ with .button }}
        {{ if .enable }}
        <a class="btn btn-primary" href="{{ .link | absURL }}" {{ if strings.HasPrefix .link `http` }} target="_blank"
          rel="noopener" {{ end }}>
          {{ .label }}
        </a>
        {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}
<!-- /Banner -->

<!-- Next gig -->
{{ with .Params.next_gig }}
<section class="py-12">
  <div class="container">
    <div class="row justify-center">
      <div class="lg:col-7 md:col-9 text-center">
        <h2 class="funky-font mb-4 text-orange-600 text-h3 lg:text-h2">
          {{ .title | markdownify }}
        </h2>

        <div class="mb-8 space-y-6 text-gray-300">
          {{ .content | markdownify }}
        </div>

        {{ with .button }}
        <a class="btn bg-orange-600 text-white hover:bg-orange-700" href="{{ .link }}" {{ if strings.HasPrefix
          .link "http" }} target="_blank" rel="noopener" {{ end }}>
          {{ .title }}
        </a>
        {{ end }}
      </div>
    </div>
  </div>
</section>
{{ end }}
<!-- /Next gig -->

<!-- Signup Form -->
{{ with .Params.newsletter }}
<section class="mx-auto max-w-2xl px-8 pb-16 text-center" id="newsletter">
  <h2 class="funky-font text-gray-200 text-h4 lg:text-h3">{{ .title }}</h2>
  <p class="mb-4 text-gray-300">{{ .content }}</p>

  <div id="newsletter-signup">
    <form id="newsletter-form" action="/api/subscribe" method="post" class="mx-auto w-full max-w-md space-y-4">
      <input type="text" name="name" placeholder="Name" autocomplete="name"
        class="w-full rounded border border-white bg-white px-4 py-3 text-black">

      <input type="email" name="email" placeholder="Email" autocomplete="email" required
        class="w-full rounded border border-white bg-white px-4 py-3 text-black">

      <button type="submit"
        class="w-full cursor-pointer hover:bg-gray-200 hover:border-gray-200 rounded border border-white bg-white px-4 py-3 font-bold uppercase text-black">
        Send
      </button>
    </form>

    {{ with .confirmation }}
    <div id="newsletter-success" class="hidden py-6 text-center text-white">
      <h3 class="text-2xl font-bold uppercase text-gray-200 funky-font">{{ .title }}</h3>
      <p class="mt-4 text-gray-300">{{ .content }}</p>
    </div>

    <div id="newsletter-error" class="hidden py-4 text-center text-white">
      {{ .error_message }}
    </div>
    {{ end }}
  </div>

  <script>
    const params = new URLSearchParams(window.location.search);
    const signupStatus = params.get("signup");

    const form = document.getElementById("newsletter-form");
    const successMessage = document.getElementById("newsletter-success");
    const errorMessage = document.getElementById("newsletter-error");

    if (signupStatus === "success") {
      form?.classList.add("hidden");
      successMessage?.classList.remove("hidden");
    }

    if (signupStatus === "error") {
      errorMessage?.classList.remove("hidden");
    }
  </script>
</section>
{{ end }}
{{ end }}